.button {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 0 10px;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:hover {
  background-color: black;
  color: white;
}
